#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>
#include "keys_jis.h"

/*
 * mod-tap を tap-preferred に変更:
 * 200ms 以上ホールドした場合のみ修飾キーとして認識し、
 * それ以下の場合は常にタップ（文字入力）として動作する。
 * 対象: Z(LEFT_SHIFT), /(RIGHT_SHIFT), LANG2(LEFT_COMMAND)
 */

&mt {
    flavor = "tap-preferred";
    tapping-term-ms = <200>;
};

/* レイヤー0,1,2: マウスカーソル / レイヤー3: スクロール */

&trackball_listener {
    input-processors = <&zip_xy_transform (INPUT_TRANSFORM_X_INVERT | INPUT_TRANSFORM_Y_INVERT)>;

    scroller {
        layers = <3>;

        /* Macの自然スクロール向け: Y軸反転を解除 */

        input-processors =
            <&zip_xy_transform INPUT_TRANSFORM_X_INVERT>,
            <&zip_xy_scaler 1 20>,
            <&zip_xy_to_scroll_mapper>;
    };
};

/ {
    combos {
        compatible = "zmk,combos";

        /* G+親指(30の下)でペアリングクリア (Fをcomboから外してlayer1の左クリックを有効化) */

        bt_clear {
            bindings = <&bt BT_CLR>;
            key-positions = <29 44>;
            layers = <2>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&none       &none             &none       &none  &none  &none                                                  &none        &none        &none            &none             &none                 &none
&kp ESCAPE  &kp Q             &kp W       &kp E  &kp R  &kp T                                                  &kp Y        &kp U        &kp I            &kp O             &kp P                 &kp BSPC
&kp TAB     &lt 1 A           &lt 3 S     &kp D  &kp F  &kp G                   &none        &none             &kp H        &kp J        &kp K            &kp L             &kp SEMI              &kp RETURN
&kp LSHFT   &mt LEFT_SHIFT Z  &kp X       &kp C  &kp V  &kp B                   &kp RETURN   &kp ESCAPE        &kp N        &kp M        &kp COMMA        &kp DOT           &mt RIGHT_SHIFT FSLH  &kp MINUS
&kp LCTRL   &kp LEFT_ALT      &kp DELETE  &none  &none  &mt LEFT_COMMAND LANG2  &lt 2 SPACE  &kp LEFT_COMMAND  &lt 2 ENTER  &lt 1 LANG1  &kp RIGHT_SHIFT  &kp LEFT_CONTROL  &kp LEFT_ALT          &kp DELETE
            >;
        };

        layer_1 {
            bindings = <
&none             &none         &none                   &none      &none               &none                                                       &none   &none           &none           &none      &none    &none
&trans            &kp F1        &kp F2                  &kp F3     &kp F4              &kp F5                                                      &kp F6  &kp F7          &kp F8          &kp F9     &kp F10  &kp F11
&trans            &trans        &kp LA(LG(LEFT_ARROW))  &mkp RCLK  &mkp LCLK           &kp LA(LG(RIGHT_ARROW))  &kp RIGHT_SHIFT  &kp RIGHT_SHIFT   &trans  &mkp LCLK       &kp UP_ARROW    &mkp RCLK  &trans   &kp F12
&kp LEFT_SHIFT    &trans        &kp RIGHT_COMMAND       &kp LG(R)  &kp LG(LEFT_ARROW)  &kp LG(RIGHT_ARROW)      &trans           &trans            &trans  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT  &trans   &trans
&kp LEFT_CONTROL  &kp LEFT_ALT  &trans                  &none      &none               &kp LEFT_COMMAND         &trans           &kp LEFT_COMMAND  &trans  &trans          &trans          &trans     &trans   &trans
            >;
        };

        layer_2 {
            bindings = <
&none           &none            &none        &none         &none         &none                         &none         &none         &none         &none          &none             &none
&trans          &kp EXCLAMATION  &kp JIS_DQT  &kp JIS_LBKT  &kp JIS_RBKT  &kp JIS_BSLH                    &kp N7        &kp N8        &kp N9        &kp JIS_TILDE  &kp JIS_CARET     &kp BACKSPACE
&kp JIS_STAR    &kp DOLLAR       &kp JIS_SQT  &kp JIS_LPAR  &kp JIS_RPAR  &kp JIS_AMPS  &none   &none   &kp NUMBER_4  &kp N5        &kp NUMBER_6  &kp JIS_AT     &kp JIS_COLON     &kp RETURN
&kp LEFT_SHIFT  &kp PERCENT      &kp JIS_AT   &kp JIS_LBRC  &kp JIS_RBRC  &kp JIS_PIPE  &trans  &trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp HASH       &kp LG(JIS_BSLH)  &kp JIS_UNDER
&trans          &trans           &trans       &none         &none         &trans        &trans  &trans  &trans        &trans        &kp N0        &kp PERIOD     &trans            &trans
            >;
        };

        layer_3 {
            bindings = <
&none   &none   &none   &none         &none         &none                           &none   &none           &none           &none            &none   &none
&trans  &trans  &trans  &trans        &trans        &trans                          &trans  &trans          &trans          &trans           &trans  &trans
&trans  &trans  &trans  &mkp RCLK     &mkp LCLK     &trans      &none       &none   &trans  &mkp LCLK       &kp UP_ARROW    &mkp RCLK        &trans  &trans
&trans  &trans  &trans  &out OUT_USB  &out OUT_BLE  &bt BT_PRV  &bt BT_NXT  &trans  &trans  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &trans  &trans
&trans  &trans  &trans  &none         &none         &trans      &trans      &trans  &trans  &trans          &trans          &trans           &trans  &trans
            >;
        };
    };
};
